name: Build Site
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install tools
        # Устанавливаем и библиотеку для PDF, и движок сайта
        run: pip install pymupdf mkdocs mkdocs-material

      - name: Run Converter
        run: python convert.py

      - name: Publish Site
        run: mkdocs gh-deploy --force
